* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #07111f;
    color: #f1f5f9;
}


.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 280px;
    height: 100vh;

    background: #061326;
    border-right: 1px solid #1c3149;

    display: flex;
    flex-direction: column;

    padding: 28px 16px;
}


/* =========================
   LOGO
========================= */

.logo {
    display: flex;
    align-items: center;
    gap: 13px;

    padding: 0 18px 35px;
}

/* ÁREA DA IMAGEM DA LOGO */
.logo-image {
    width: 250px;
    height: auto;

    border-radius: 10px;
    margin-left: -30px;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    flex-shrink: 0;
}

/* IMAGEM */
.logo-image img {
    width: 100%;
    height: 100%;

    object-fit: contain;
    display: block;
}

/* NOME */
.logo h2 {
    font-size: 24px;
    letter-spacing: 1px;
}

.logo span {
    display: block;

    margin-top: 2px;

    color: #159cff;

    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
}



/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.menu-item {
    height: 54px;

    display: flex;
    align-items: center;

    gap: 18px;

    padding: 0 22px;

    border-radius: 9px;

    color: #a9bfd7;

    text-decoration: none;
}

.menu-item i {
    width: 20px;
    font-size: 19px;
}

.menu-item:hover {
    background: #102945;
    color: white;
}

.menu-item.active {
    background: linear-gradient(
        90deg,
        #1168c7,
        #13539b
    );

    color: white;
}


/* USUÁRIO */

.sidebar-bottom {
    margin-top: auto;

    border-top: 1px solid #1c3149;

    padding: 22px 12px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-icon,
.admin-icon {
    width: 42px;
    height: 42px;

    border-radius: 50%;

    background: #142a45;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #9bbce0;
}

.user strong {
    display: block;
    font-size: 14px;
}

.user small {
    color: #7892ad;
    display: block;
    margin-top: 4px;
}

.logout {
    color: #8da8c2;
}


/* =========================
   MAIN
========================= */

.main {
    margin-left: 280px;
    min-height: 100vh;
}


/* HEADER */

.header {
    height: 86px;

    border-bottom: 1px solid #1c3149;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 42px;
}

.search {
    width: 520px;
    height: 48px;

    border: 1px solid #1b3b5e;
    border-radius: 10px;

    background: #0b1b2e;

    display: flex;
    align-items: center;

    gap: 13px;
    padding: 0 17px;
}

.search i {
    color: #72a8d8;
}

.search input {
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    color: white;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 28px;
}

.notification {
    color: #9bbce0;
    font-size: 21px;
}

.administrator {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* =========================
   CONTENT
========================= */

.content {
    padding: 38px 44px;
}

.page-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 30px;
}

.section-name {
    color: #159cff;

    font-size: 14px;
    font-weight: bold;

    margin-bottom: 8px;
}

.section-name i {
    margin-right: 8px;
}

.page-top h1 {
    font-size: 38px;
}

.page-top h1 span {
    color: #159cff;
}

.page-top p {
    margin-top: 8px;

    color: #89a4c1;

    font-size: 15px;
}


/* BOTÃO */

.new-product {
    border: none;

    background: #159cff;

    color: white;

    border-radius: 9px;

    padding: 13px 19px;

    font-weight: bold;

    cursor: pointer;
}

.new-product:hover {
    background: #0787e8;
}

.new-product i {
    margin-right: 7px;
}


/* =========================
   CARDS
========================= */

.cards {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 22px;

    margin-bottom: 25px;
}

.card {
    min-height: 155px;

    background: #0d1c2f;

    border: 1px solid #1a3653;

    border-radius: 13px;

    padding: 21px;
}

.card-icon {
    width: 44px;
    height: 44px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 13px;
}

.blue {
    background: #102f58;
    color: #159cff;
}

.green {
    color: #00d9a6 !important;
}

.card-icon.green {
    background: #073b39;
    color: #00d9a6;
}

.red {
    background: #3d2131;
    color: #ff536b;
}

.purple {
    background: #322557;
    color: #a875ff;
}

.card > span {
    display: block;

    color: #9eb7d0;

    font-size: 13px;

    margin-bottom: 7px;
}

.card > strong {
    display: block;

    font-size: 26px;

    margin-bottom: 9px;
}

.card small {
    color: #819bb5;
}

.orange {
    color: #ffb02e !important;
}

.live {
    color: #00d9a6;
    font-size: 7px;
}


/* =========================
   PRODUTOS
========================= */

.products-box {
    background: #0d1c2f;

    border: 1px solid #1a3653;

    border-radius: 13px;

    overflow: hidden;
}

.products-header {
    min-height: 76px;

    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #1a3653;
}

.products-title {
    display: flex;
    align-items: center;
    gap: 13px;
}

.title-icon {
    width: 38px;
    height: 38px;

    border-radius: 8px;

    background: #102f58;

    color: #159cff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.products-title h2 {
    font-size: 19px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-search {
    width: 215px;
    height: 39px;

    border-radius: 8px;

    background: #102238;

    border: 1px solid #1b3b5e;

    display: flex;
    align-items: center;

    gap: 9px;

    padding: 0 12px;
}

.product-search i {
    color: #7695b2;
}

.product-search input {
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    color: white;
}

.filter {
    width: 39px;
    height: 39px;

    border: 1px solid #1b3b5e;

    background: #102238;

    color: #9bbce0;

    border-radius: 8px;

    cursor: pointer;
}

.new-product.small {
    height: 39px;
    padding: 0 15px;
}


/* =========================
   TABELA
========================= */

.table {
    width: 100%;
}

.table-head,
.table-row {
    display: grid;

    grid-template-columns:
        0.6fr
        2fr
        1.4fr
        1fr
        1.2fr
        1.2fr
        1fr
        0.8fr;

    align-items: center;

    column-gap: 12px;

    padding: 0 20px;
}

.table-head {
    height: 48px;

    background: #0f2137;

    color: #88a7c7;

    font-size: 12px;

    text-transform: uppercase;
}

.table-row {
    min-height: 67px;

    color: #a5bad0;

    font-size: 13px;

    border-bottom: 1px solid #18304b;
}

.table-row:last-child {
    border-bottom: none;
}


/* PRODUTO */

.product-name {
    display: flex;
    align-items: center;

    gap: 11px;

    color: #dbeafe;

    font-weight: 500;
}

.product-img {
    width: 36px;
    height: 36px;

    border-radius: 7px;

    background: #10243b;

    border: 1px solid #1e3d5c;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #70bfff;
}


/* STATUS */

.status {
    width: fit-content;

    padding: 6px 10px;

    border-radius: 20px;

    display: flex;
    align-items: center;

    gap: 6px;

    font-size: 11px;
}

.status i {
    font-size: 6px;
}

.status.normal {
    background: #073b35;
    color: #00d9a6;
}

.status.low {
    background: #44222e;
    color: #ff536b;
}


/* AÇÕES */

.row-actions {
    display: flex;
    gap: 16px;

    color: #79a2c6;

    cursor: pointer;
}

.row-actions i:hover {
    color: #159cff;
}


/* =========================
   RESPONSIVO
========================= */

@media (max-width: 1200px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .table {
        overflow-x: auto;
    }

    .table-head,
    .table-row {
        min-width: 1050px;
    }

}


@media (max-width: 800px) {

    .sidebar {
        width: 80px;
    }

    .logo {
        justify-content: center;
        padding: 0 0 30px;
    }

    .logo > div:last-child,
    .menu-item span,
    .user > div:last-child,
    .logout {
        display: none;
    }

    .menu-item {
        justify-content: center;
        padding: 0;
    }

    .main {
        margin-left: 80px;
    }

    .header {
        padding: 0 20px;
    }

    .search {
        width: 300px;
    }

    .content {
        padding: 25px 20px;
    }

    .page-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

}


@media (max-width: 600px) {

    .cards {
        grid-template-columns: 1fr;
    }

    .header-right {
        display: none;
    }

    .search {
        width: 100%;
    }

    .header {
        padding: 0 15px;
    }

    .actions {
        flex-wrap: wrap;
    }

}